* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/list.jpg);
    background-size: cover;
}

.mainblock {
    width: 100%;
    height: 100vh;
    padding: 10px;
}

.listheading {
    max-width: 540px;
    background-color: rgb(179, 233, 122);
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.listheading h2 {
    color: rgb(6, 73, 34);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.listheading h2 img {
    width: 30px;
    margin-left: 10px;
}

.addtask {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    background-color: rgb(236, 236, 255);
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 20px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: rgb(82, 149, 14);
    font-size: 16px;
    color: #fff;
    border-radius: 40px;
    cursor: pointer;
}

ul li {
    font-size: 20px;
    list-style: none;
    padding: 12px 8px 12px 50px;
    border: 2px solid rgb(54, 52, 52);
    border-radius: 20px;
    cursor: pointer;
    user-select: none;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50px;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(images/checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #433e3e;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #b2b4ba;
}